.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 12px !important;
}

.top {
	float: right;
}

.btnAtalhos {
	left: 45%;
	position: absolute;
}

.btn-icon {
	margin-left: 5px;
}

.teste {
	background-image: url(../img/funcionario_32x32.png) !important;
	margin-top: -15px !important;
	margin-left: -15px !important;
}



